#root {
	overflow-x: hidden;

	nav {
		&.navbar-fixed-top, &.navbar-fixed-bottom {
			position: inherit;
		}

	}
}

/* Bootstrap.css */
.container {
	padding: 0px;
	margin: 0px;
	width: 100%;

	.text-muted {
		color: #fff;
	}

}

.nav li {
	float: none;
}

.navbar-left {
	width: 100%;
}
