#root {
	overflow-x: hidden;

	nav {
		&.navbar-fixed-top, &.navbar-fixed-bottom {
			position: inherit;
		}

		.navbar-left {
			width: 100%;

			li {
				float: none;
			}

		}
	}
}

/* Bootstrap.css */
.container {
	padding: 0px;
	margin: 0px;
	width: 100%;

	.text-muted {
		color: #fff;
	}
}
